#live_recommand_report,
#right-bottom-banner,
#bannerAd,
#slide_ad,
.ad-report {
  display: none !important;
}

#arc_toolbar_report {
  height: auto;
}

#arc_toolbar_report .ops {
  height: auto;
  max-width: calc(100% - 200px);
}

#arc_toolbar_report .ops .share {
  width: 92px;
}

.video-toolbar .ops>.al-extra-like {
  width: 42px;
}

.video-toolbar .ops>.al-extra-like i {
  position: relative;
}

/* .video-toolbar .ops>span:hover i.like-and-one-coin {
  color: #70af85;
}

.video-toolbar .ops>span:hover i.like-and-fav-default {
  color: #ffcda3;
} */

.video-toolbar .ops>span .extra-badge-box {
  position: absolute;
  height: 16px;
  right: -6px;
  bottom: -6px;
}

.video-toolbar .ops>span .extra-badge {
  font-size: 16px;
  width: 16px;
  height: 16px;
  margin-right: 0;
}
